<h1>{{brand}}</h1>

<h1>Welcome to the launch of {{brand}}'s newest product!</h1>
<a href="/user1">Product</a>



<h4>{{name}}</h4>
<img src="/images/{{bioPic}}" alt="product image" id="productIMG"> 

<p id="desc">{{description}}</p>

<p id="features">{{features}}</p>
