<h1 id="brand">{{brand}}</h1>

<a href="/user1"></a>


<h2>Introducing the {{name}}</h2>
<img src="/images/{{productPic}}" alt="product image" id="productIMG"> 

<div id="info">
<h3>Description</h3>
<p id="desc">{{description}}</p>

<h3>Features</h3>
<p id="features">{{features}}</p>
</div>

<video src="/images/{{videoLink}}"></video>

