<section id="product">
    <div class="product-container">
        <a href="/{{name}}">
            <img src="../public/images/{{image}}" alt="image">
        </a>
        <h3 class="product-name">{{name}}</h3>
        <h5>{{description}}</h5>
        <p>{{features}}</p>
    </div>

</section>