<section id="pods">
    <div class="product-container">
        
        <h1>Introducing the newest product from {{brand}}</h1>
        
        <a href="/{{name}}">
            <img src="/images/{{image}}" alt="airpods">
        </a>

        <p>{{description}}</p>

        <h3 class="product-name">{{name}}</h3>
    </div>
</section>